@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: var(--dark-blue);
  background-color: var(--pale-blue);
  background-image: url(images/pattern-background-desktop.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
main {
  min-height: calc(100vh - 50px);
  padding-top: 2rem;
}

/* Card */
.card {
  width: 420px;
  background-color: white;
  box-shadow: 10px 20px 30px #00000011;
  border-radius: 20px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
}

.order-summary {
  padding: 5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.order-title {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.order-text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--desaturated-blue);
  margin-bottom: 2rem;
}

.order-price-box {
  background-color: var(--very-pale-blue);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.price-info {
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-plan {
  font-size: 1.5rem;
  font-weight: 900;
}

.price {
  font-size: 1.5rem;
  color: var(--desaturated-blue);
}

.price-change:link,
.price-change:visited {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bright-blue);
  margin-left: auto;
  text-underline-offset: 0.1em;
}

.price-change:hover,
.price-change:active {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.7);
}

.payment:link,
.payment:visited {
  box-shadow: 0 20px 30px hsla(245, 75%, 52%, 0.3);
  background-color: var(--bright-blue);
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.6rem;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.payment:hover,
.payment:active {
  background-color: hsla(245, 75%, 52%, 0.7);
}

.cancel:link,
.cancel:visited {
  color: var(--desaturated-blue);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 900;

  align-self: center;
}

.cancel:hover,
.cancel:active {
  color: var(--dark-blue);
}

/* Footer */
footer {
  height: 50px;
}

.attribution {
  font-size: 1.1rem;
  line-height: 1.3;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 50em) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }
}

@media (max-width: 30em) {
  main {
    padding-top: 0;
  }

  .card {
    width: 100%;
    border-radius: 0 0 20px 20px;
    align-self: start;
  }

  .order-summary {
    padding: 5rem 2rem;
  }
}

@media (max-width: 20em) {
  .order-price-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .price-change {
    display: block;
    grid-column: -2 / -1;
    margin-left: 0 !important;
    justify-self: start;
  }
}

@media (max-width: 15em) {
  .order-price-box {
    display: flex;
    flex-direction: column;
  }
}
